<div class="back-color">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="form-inputs d-flex justify-content-center align-items-center flex-column">
      <h2 class="p-3">Editar <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :nickname, required: true, autofocus: true %>
          <%= f.input :email, required: true %>
          <%= f.input :photo, as: :file %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "senha nova" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "nova senha" } %>
          <%= f.input :current_password,
                      required: true,
                      input_html: { autocomplete: "senha atual" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Atualizar" %>
        </div>

      <%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Tem certeza?", turbo_method: :delete }, method: :delete %>

      <% end %>
      <div class="drops">
          <div class="drop drop-1"></div>
          <div class="drop drop-2"></div>
          <div class="drop drop-3"></div>
          <div class="drop drop-4"></div>
          <div class="drop drop-5"></div>
      </div>
    </div>
  </div>
</div>
