<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'plantinhas.jpg' %>);" >
  <div class="container">
    <h1><strong>Semeando Verde</strong></h1>
    <p>O cuidado que as suas plantinhas merecem.</p>
  </div>
</div>

<div class="color-background">
  <div class="container pt-5">
    <h2>Sementinhas de cuidado</h2>
    <p>Sabe quando você tem uma plantinha linda mas por alguma razão ela começa a morrer? Pois eh! Você veio ao local certo!</p>
    <p><strong>Ajudamos você a cuidar dela da melhor forma possível!!!</strong></p>
  </div>
  <div class="mid-img container">
    <div class="imgs-home">
        <%= image_tag 'plantamorrendo.jpg', alt: "planta doente" %>

        <div class="loader"></div>

        <%= image_tag 'plantaviva.jpg', alt: "planta saúdavel" %>
    </div>
  </div>

<section class="utilities">
  <div class="container">
    <div class="row">
      <div class="col-4 down-cur">
        <i class="fas fa-sun fa-2x yellow-color"></i>
        <h3>Iluminação</h3>
        <%= image_tag 'line_2.svg', class:'line' %>
        <p class="text-start">Saiba o quanto de sol a sua planta necessita</p>
      </div>

      <div class="col-4 down-cur">
        <i class="fas fa-tint fa-2x blue-color"></i>
        <h3>Rega</h3>
        <%= image_tag 'line_2.svg', class:'line' %>
        <p class="text-start">Receba lembretes de quando regar-las</p>
      </div>

      <div class="col-4 down-cur">
        <i class="fas fa-leaf fa-2x green-color"></i>
        <h3>Curiosidades</h3>
        <%= image_tag 'line_2.svg', class:'line' %>
        <p class="text-start">Tenha acesso à curiosidades e informações</p>
      </div>
    </div>
  </div>
 </section>
</div>

  <div class="footer">
      <%= image_tag 'foto-foot.png' %>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
