<div class="back-col">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'succulent.jpg' %>);" >
      <div class="plant-name">
        <h1><strong><%= @garden_plant.plant.name %></strong></h1>
          <p><em><small><%= @garden_plant.plant.botanic_name %></em></small></p>
      </div>
  </div>

    <div class="big-ban container">
      <div>
        <h5><strong>Descrição</strong></h5>
          <p class="mb-2-5rem"><%= @garden_plant.plant.description %></p>

        <h5><strong>Iluminação</strong></h5>
          <p class="mb-2-5rem"><%= @garden_plant.plant.lighting %></p>
        <h5><strong>Regar</strong></h5>
          <p class="mb-2-5rem"><%= @garden_plant.plant.water %></p>

        <h5><strong>Informações</strong></h5>
          <% @garden_plant.plant.infos.delete("*").split("\n\n").each do |info| %>
            <ul>
              <li><%= info %></li>
            </ul>
          <% end %>
      </div>
        <div class="img-btn">
          <div class="btn-up">
            <img src=<%= @garden_plant.plant.img_url %> class="img-ban">
            <%= link_to 'Alterar imagem', plant_garden_plants_path(@garden_plant), data: { turbo_method: :post, turbo_confirm: "Deseja alterar essa planta em seu jardim?" }, class: "btn-add" %>
          </div>
          <div class="form-check form-switch">
            <p>Gostaria de receber notificações?</p>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked"> </label>
          </div>
          <%= link_to 'Deletar', garden_plant_path(@garden_plant), data: { turbo_method: :delete, turbo_confirm: "Deseja deletar essa planta em seu jardim?" }, class: "btn-add" %>
        </div>
    </div>
</div>
