<div class="back-col">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'succulent.jpg' %>);" >
    <%= turbo_frame_tag dom_id(@garden) do %>
      <h1 class='text-center'><strong><%= link_to @garden.name, edit_garden_path(@garden) %></strong></h1>
    <% end %>
  </div>


  <div class= "plants container">
    <% @garden_plants.each do |garden_plant| %>

      <%= link_to garden_plant_path(garden_plant), class:"link-card-plant" do %>

        <div class="card-product">
          <h5 class="card-title mb-2"><strong><%= garden_plant.plant.name %></strong></h5>
          <div class="card-content">
            <img src=<%= garden_plant.plant.img_url %> >
            <div class="d-flex flex-column">
              <p><i class="fa-solid fa-sun"></i> Indireta </p>
              <p><i class="fa-solid fa-droplet"></i> 1x por semana</p>
              <p><i class="fa-solid fa-dog"></i> Não tóxica</p>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>
  </div>
</div>
