<div class="back-col">
  <%= turbo_frame_tag dom_id(@garden) do %>
    <div class="parallax banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.photo.attached? ? cl_image_path(@garden.photo.key) : asset_path('succulent.jpg') %>);" >
      <h1 class='text-center'><strong><%= link_to @garden.name, edit_garden_path(@garden, field: "name") %></strong></h1>

      <%= link_to "Editar Foto", edit_garden_path(@garden, field: "photo"), class:"btn btn-primary" %>
    </div>
  <% end %>


  <div class= "plants container" data-controller="sortable" data-sortable-id-value="<%= @garden.id %>">
    <% @garden_plants.order(:order).each do |garden_plant| %>
      <div class="card-product" data-id="<%= garden_plant.id %>" data-sortable-target="plant">
        <%= link_to garden_plant_path(garden_plant) do %>

          <h5 class="text-center"><strong><%= garden_plant.plant.name %></strong></h5>
          <% if garden_plant.photo.present? %>
            <%= cl_image_tag garden_plant.photo.key, width: 400, height: 300, crop: :fit, class:"img-ban" %>
          <% else %>
            <img src=<%= garden_plant.plant.img_url %> class="img-ban">
          <% end %>

          <div class="card-content">
            <div class="card-flex">
              <%# Iluminação da planta %>
              <p><i class="fa-solid fa-sun"></i>
              <% if garden_plant.plant.lighting.include?("pleno") %>
                Sol | meia sombra</p>
              <% else %>
                Indireta</p>
              <% end %>
              <%# Regar - planta %>
              <p><i class="fa-solid fa-droplet"></i> 1x por semana</p>
              <%# Toxica ou não %>
              <% if garden_plant.plant.toxic == false %>
                <p><i class="fa-solid fa-dog"></i> Não tóxica</p>
              <% else %>
                <p><i class="fa-solid fa-skull-crossbones"></i> Tóxica</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
