<!DOCTYPE html>
<html>
  <head>
    <title>SemeandoVerde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# fonts - Google %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('top.png') %>

  </head>

  <body>
    <%= render "shared/navbar" unless devise_controller? %>
    <%= yield %>
    <%= render "shared/footer" unless devise_controller?%>
  </body>
</html>
